header {
  text-align: center;
  padding: 2rem;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
div {
  background-color: white;
}
 body {
  background-color: bisque;
}
header {
  text-align: center;
  padding: 2rem;
}
div {
  background-color: bisque;
}

.task-1 p {
  border: dotted;
  padding: 1rem;
  
}
/* using flexbox*/
.task-1 {
  display: flex;
  justify-content: space-between;
  border: solid;
  padding: 1rem;
  
}
/*using grid*/
.task-2 {
  display:grid;
  width: 100%;
  border: solid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.task-2 p {
  border: dotted;
  padding: 1rem;
  
}

.task-3 {
  border: solid;
  padding: 1rem;
  background-color: cornflowerblue;
}

.task-3 p {
  padding: 1rem;
  background-color: cornflowerblue;
}

.task-4 {
  border: solid;
  padding: 1rem;
  
}
.task-4 p {
  padding: 1rem;
  font-family: cursive;
  color:blue;
  font-weight: bold;
}

.task-5 {
  border: solid;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  
  
}


.task-6 {
  border: solid;
  padding: 1rem;
}
.task-6 p {
  padding: 1rem;
 
}
